@model IEnumerable<Assignment2.Models.CheckIns>

@{
    ViewData["Title"] = "Reception";
}

<h1>Reception</h1>

        <figure>
            <img src="/Images/danglePic.jpg" alt="D'angleterre Logo" style="width:350px;height:150px;">
        </figure>

        <p> <b>Her kan du bestille morgenmad til dine gæster</b> <br /> Hvor mange gæster ønsker du at bestille morgenmad til?</p>

        <form action="/action_page.php">
            <label for="roomno">Værelsesnummer:</label><br>
            <input list="hosting-plan" type="text">

            <datalist id="hosting-plan">
                @*<option value="1" />
                <option value="2" />
                <option value="3" />
                <option value="4" />
                <option value="5" />*@
                @for (int i = 1; i <= 100; i++)
                {
                    <option value="@i"></option>
                }
            </datalist> <br>

            <label for="noAdults">Antal voksne:</label><br>
            <input list="hosting-plan" type="text">

            <datalist id="hosting-plan">
                @for (int i = 1; i <= 100; i++)
                {
                    <option value="@i"></option>
                }
            </datalist><br>

            <label for="noKids">Antal børn:</label><br>
            <input list="hosting-plan" type="text">

            <datalist id="hosting-plan">
                @for (int i = 1; i <= 100; i++)
                {
                    <option value="@i"></option>
                }
            </datalist><br>
            <label for="date">Dato:</label><br>
            <input type="date" id="givenDate" name="givenDate"><br><br>
            <input type="submit" value="Bestil">
        </form>

        <p> <b>Herunder ses hvilke gæster har spist morgenmad i dag.</b> </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adults)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kids)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adults)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kids)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

