@model CheckIns

@{
    ViewData["Title"] = "Reception";
}

<h1>Reception</h1>

<<<<<<< Updated upstream
<p><b>Her kan du booke gæster til morgenmad på en ønsket dato</b> <br /> Hvilke gæster ønsker du at checke ind?</p>

<br />

<br />
<form action="/action_page.php">
    <label for="givenDate">Vælg dato:</label>
    <input type="date" id="givenDate" name="givenDate">
</form>

<form action="/action_page.php">
    <label for="roomno">Værelsesnummer:</label><br>
    <input list="room-no" type="text">

    <datalist id="room-no">

        @for (int i = 1; i <= 100; i++)
        {
            <option value="@i"></option>
        }
    </datalist> <br>

    <label for="noAdults">Antal voksne:</label><br>
    <input list="no-adults" type="text">

    <datalist id="no-adults">
        @for (int i = 1; i <= 100; i++)
        {
            <option value="@i"></option>
        }
    </datalist><br>

    <label for="noKids">Antal børn:</label><br>
    <input list="no-kids" type="text">

    <datalist id="no-kids">
        @for (int i = 1; i <= 100; i++)
        {
            <option value="@i"></option>
        }
    </datalist><br><br>
    <input type="submit" value="Book til morgenmad">
</form>

<p><b>Vis gæster der har været til morgenmad på den valgte dato</b></p>

<input type="submit" value="Vis" class="button" />

=======
<body>
    <div class="text-center">
        >>>>>>> Stashed changes

        <figure>
            <img src="/Images/danglePic.jpg" alt="D'angleterre Logo" style="width:350px;height:150px;">
        </figure>

        <p> <b>Her kan du bestille morgenmad til dine gæster</b> <br /> Hvor mange gæster ønsker du at bestille morgenmad til?</p>

        <form action="/action_page.php">
            <label for="roomno">Værelsesnummer:</label><br>
            <input list="hosting-plan" type="text">

            <datalist id="hosting-plan">
                @*<option value="1" />
                <option value="2" />
                <option value="3" />
                <option value="4" />
                <option value="5" />*@
                @for (int i = 1; i <= 100; i++)
                {
                    <option value="@i"></option>
                }
            </datalist> <br>

            <label for="noAdults">Antal voksne:</label><br>
            <input list="hosting-plan" type="text">

            <datalist id="hosting-plan">
                @for (int i = 1; i <= 100; i++)
                {
                    <option value="@i"></option>
                }
            </datalist><br>

            <label for="noKids">Antal børn:</label><br>
            <input list="hosting-plan" type="text">

            <datalist id="hosting-plan">
                @for (int i = 1; i <= 100; i++)
                {
                    <option value="@i"></option>
                }
            </datalist><br>
            <label for="date">Dato:</label><br>
            <input type="date" id="givenDate" name="givenDate"><br><br>
            <input type="submit" value="Bestil">
        </form>

        <p> <b>Herunder ses hvilke gæster har spist morgenmad i dag.</b> </p>

        <div>
            <h4>CheckedInGuest</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RoomNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RoomNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Adults)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Adults)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Kids)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Kids)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>


    </div>
</body>
