@model IEnumerable<Assignment2.Models.CheckIns>

@{
    ViewData["Title"] = "Reception";
}

<h1>Reception</h1>
<body>
    <div class="text-center">
        <figure>
            <img src="/Images/danglePic.jpg" alt="D'angleterre Logo" style="width:350px;height:150px;">
        </figure>

        <p> <b>Her kan du bestille morgenmad til dine gæster</b>

        <ul>
            <li>
                <a asp-controller="Bookings" asp-action="Create">Tilføj booking</a>
            </li>
        </ul>

        <p> <b>Herunder ses hvilke gæster har spist morgenmad i dag.</b> </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adults)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kids)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adults)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kids)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>