@model AllBookings

@{
    ViewData["Title"] = "Kitchen";
}

<h1>Køkkenets side</h1>
Her kan du finde informationer om følgende på en givet dato: det forventet antal gæster i alt samt hvor mange voksne og børn.
<br />
<br />Du kan desuden finde info omkring antal voksne og børn checket ind.
<br />Samt hvor mange, der endnu ikke er checket ind i alt, herunder hvor mange voksne og børn.
<br />


<form method="get" asp-controller="Kitchen" asp-action="Kitchen">
    <label for="givenDate">Vis information for denne dato:</label>
    <input type="date" id="givenDate" name="givenDate" value="@Model.Date.ToString("s")">
    <input type="submit" value="Vis information">
</form>

<br />
<button type="button" onclick="alert('Informationen er opdateret!')">Opdater information!</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col" id="group">Group</th>
            <th scope="col" id="Booked">Booked</th>
            <th scope="col" id="checkedIn">Checked in</th>
            <th scope="col" id="total">Total expected</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" headers="group">Adults</th>
            <td>
                @Model.BookedAdults
            </td>
            <td>
                @Model.CheckedInAdults
            </td>
            <td>
                @(Model.BookedAdults + Model.CheckedInAdults)
            </td>
        </tr>
        <tr>
            <th scope="row" headers="group">Children</th>
            <td>
                @Model.BookedKids
            </td>
            <td>
                @Model.CheckedInKids
            </td>
            <td>
                @(Model.BookedKids + Model.CheckedInKids)
            </td>
        </tr>
        <tr>
        </tr>


    </tbody>
    <tfoot>
        <tr>
            <td headers="group">Total</td>
            <td>
                @Model.TotalBooked
            </td>
            <td>
                @Model.TotalCheckedIn
            </td>
            <td>
                @(Model.TotalBooked + Model.TotalCheckedIn)
            </td>

        </tr>
    </tfoot>
</table>
