@model IEnumerable<Assignment2.Models.Bookings>

@{
    ViewData["Title"] = "Restaurant";
}

    <h1>Restaurant</h1>

<body>
    <div class="text-center">

        <figure>
            <img src="/Images/danglePic.jpg" alt="D'angleterre Logo" style="width:350px;height:150px;">
        </figure>

        <p> <b>Her kan du checke gæster ind til morgenmaden</b> </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adults)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kids)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adults)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kids)
                        </td>
                        <td>
                            <input type="submit" value="Check ind">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>